/* ============== PembelianTable ============== */
/* Container */
.pembelian-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Title */
.pembelian-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #344c38;
}

/* Table Style */
.pembelian-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
}

.pembelian-table thead {
  background: #344c38;
  color: #ffffff;
}

.pembelian-table th,
.pembelian-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
}

.pembelian-table tr:hover {
  background-color: #93cea6;
  transition: 0.3s;
}

.pembelian-table th:first-child {
  border-top-left-radius: 12px;
}

.pembelian-table th:last-child {
  border-top-right-radius: 12px;
}

/* ============== Pagination ============== */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

.pagination-btn {
  background-color: #344c38;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;
}

.pagination-btn:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #45694e;
}

.pagination-info {
  font-size: 14px;
  color: #344c38;
  font-weight: 500;
}
